<h1 class="text-center mt-4">Current Orphanages in the system</h1>
<div class="flickr_pagination">
  <%= will_paginate @orphanages, :container => false %>
</div>
<div class="container">
   <% @orphanages.each do |orphanage|%>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to orphanage.name, orphanage%>
            </div>
            <div class="card-body">
               <div class="card-text text-center">Verified: <%= p orphanage.verified ? "Verified" : "Not verified yet" %></div>
               <br/>
               <div class="card-text text-center">Accepts new cases: <%= p orphanage.accepts_new_cases ? "Yes." : "No." %></div>
               <br/>
               <div class="card-text text-center">Number of posts: <%= pluralize(orphanage.posts.count, "post")%></div>
               <br/>
               <div class="card-text text-center">Governorate: <%= orphanage.governorate%></div>
               <br/>
               <%if logged_in? && orphanage == current_user%>
                  <%= link_to "Edit", edit_orphanage_path(orphanage), class: "btn btn-outline-info" %>
               <%end%>
               <%= link_to "View posts made by this orphanage", orphanage_posts_path(orphanage.id), class: "btn btn-outline-info" %>
            </div>
            <div class="card-footer text-muted">
               <small>Joined <%= time_ago_in_words(orphanage.created_at) %> ago, 
               edited <%= time_ago_in_words(orphanage.updated_at) %> ago</small>
            </div>
         </div>
      </div>
   </div>
   <%end%>
</div>
<div class="flickr_pagination mb-4">
  <%= will_paginate @orphanages, :container => false %>
</div>