<h1 class="text-center mt-4"><%=@orphanage.name%></h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%= p @orphanage.verified ? "Verified" : "Not verified yet" %> <br/>
            </div>
            <div class="card-body">
               <div class="card-text text-left">Accepts new cases: <%= p @orphanage.accepts_new_cases ? "Yes." : "No." %></div>
               <br/>
               <div class="card-text text-left">Email: <%= @orphanage.email%></div>
               <br/>
               <div class="card-text text-left">Street Address: <%= @orphanage.street_address%></div>
               <br/>
               <div class="card-text text-left">Phone number: <%= @orphanage.phone_number%></div>
               <br/>
               <div class="card-text text-left">Children count: <%= @orphanage.children_count%></div>
               <br/>
               <div class="card-text text-left">Governorate: <%= @orphanage.governorate%></div>
               <br/>
               <div class="card-text text-left">Bio:<br/><br/><%= simple_format(@orphanage.bio)%></div>
               <br/>
               <a class="btn btn-outline-success" <%render 'posts/post', obj: @orphanage.posts%> role="button">View Orphanage Posts</a> 
               <%= link_to "Edit", edit_orphanage_path(@orphanage), class: "btn btn-outline-info" %>
               <%= link_to "Delete", orphanage_path(@orphanage), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
            <div class="card-footer text-muted">
               <small>Created <%= time_ago_in_words(@orphanage.created_at) %> ago, 
               edited <%= time_ago_in_words(@orphanage.updated_at) %> ago</small>
            </div>
         </div>
      </div>
   </div>
</div>