<h1 class="text-center mt-4">Popular questions regarding Kafala</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Can I choose the baby I will adopt? How?
            </div>
            <div class="card-body text-left">
               After receiving a letter of approval, you can visit one of the orphanages of your choice
               and start to look out for a child that would fit into your family. 
               Some families look for small babies, others prefer an older child. Discuss your preferences and 
               what your capabilities are with the orphanage and they will be able to guide you and you can initiate what we call the bonding time.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               How long does the process of application till approval take?
            </div>
            <div class="card-body text-left">
               In the past it used to take different amount of time depending on the governorate where application was submitted (sometimes 3 months, in others 6 months or more)<br/>
               With the new kafala system being implemented it will be maximum 4.5 months and as soon as the assessment by the MOSS is completed for the family, 
               they can start their journey of searching for their child (most commonly it is 3 months or less).
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               What papers do I need?
            </div>
            <div class="card-body text-left">
               <li>National ID.</li>
               <li>Educational diploma of each spouse or for the mother in case a single mother applies.</li>
               <li>Medical certificate for each spouse.</li>
               <li>Criminal record of each spouse.</li>
               <li>Marriage certificate.</li>
               <li>Income statement for different sources of income.</li>
               <li>Contract of the owned house in Egypt.</li>
               <li>Contract of rented flat (recent electricity and water bills).</li>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Where do I go?
            </div>
            <div class="card-body text-left">
               If you live in Egypt, you should contact the nearest directorate of Ministry of Social Services (MOSS) to your residence.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Why can’t my baby (adopted child) inherit from me?
            </div>
            <div class="card-body text-left">
               Adopted children do not inherit in Islam but there are two legal ways in Islam by which you can make sure that your adopted child future is secured in case you die:<br/>
               <li>Gifting: As long as the Kafala parents are alive, they can give the child any gift they want (buy a flat for the child, a piece of land, a car etc)</li>
               <li>Wassiyah (will) - In Islam, the wasiyyah refers to a 1/3 (or less) bequest that a Muslim can give after death. A wasiyyah can go to charity or relatives who are not otherwise heirs under the Islamic Rules of Inheritance.</li>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Do I need to breastfeed?
            </div>
            <div class="card-body text-left">
               This is a personal decision for every mother and is also not mandated by religion or the law. 
               Additionally, breastfeeding doesn’t necessarily make the bonding between the child and mother stronger.
               However it is possible to establish milk production for a kafala baby, even if you have never been pregnant or given birth before. 
               This can be achieved by following a program for stimulating milk production that is designed by a specialized doctor.
               Breastfeeding a child under two years for a specific amount of time, makes you a milk mother for the child and creates a mahram relationship between you and the child. 
               Which for many muslim families make certain legalities easier from their religious point of view.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               If I’m a single woman, what name does my adopted child get?
            </div>
            <div class="card-body text-left">
               For a single mother the child can take the mother’s family name (Fatwa issued in Sept 2019).
               The mother can also change the first given random name of the child. 
               If the biological parents are known (which is extremely rare for an abandoned baby in Egypt) the biological father’s and grandfather’s names 
               must remain the same as they are in the child’s birth certificate.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Can the baby take the full father's name? 
            </div>
            <div class="card-body text-left">
               This is not permitted in Islam, but is allowed for Christian families.
               The child of a Muslim Kafala family can either take the first name of the father or the last name of the family.
               Religion forbids the child to take both names.<br/>
               Example:
               <li>If the given names of the child are: Mohamed Ahmed AbdAllah Sayed</li>
               <li>The Kafala father's name is: Hany Mohsen Mohamed El Mallah</li>
               <li>The child name can be either: Mohamed Hany AbdAllah Sayed (taking the father’s first name)</li>
               <li>Or Mohamed Ahmed AbdAllah Sayed El Mallah (taking the family’s name)</li>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Can I change the child's first name?
            </div>
            <div class="card-body text-left">
               Yes, you can!
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Can I travel with my kafala child or live abroad (in another country outside Egypt)?
            </div>
            <div class="card-body text-left">
               Yes, you can! There are special procedures that you need to follow based on your designated country of residence
               and you will need to acquire an approval from the Ministry of Social Services (MOSS).
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               What if I don’t live in Egypt, can I still adopt/ become a kafala parent?
            </div>
            <div class="card-body text-left">
               Yes, Egyptian citizenship holders can apply for Kafala/adoption, even if they live outside of Egypt, 
               on the condition that at least one of the two parents is an Egyptian citizen.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Who can become a kafala parent?
            </div>
            <div class="card-body text-left">
               <li>A married couple who possess the moral, social maturity, health and material capacity to care for a child. 
                  Married not less than 3 years (exception in case of infertility is possible). 
                  Both of them are between 25-60 years old and the number of children in family does not exceed two (unless they are independent), 
                  One spouse should hold a minimum of high school diploma or its equivalent. Family should be of same religion as the adopted child.
               </li>
               <li>Widows, divorced women and women who have never been married and reached 30 years of age are entitled to apply for kafala.</li>
               To study the detailed criteria - follow this link:
               <a href="https://bit.ly/36u3LG0"> click here </a>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Is Kafala allowed in Islam?
            </div>
            <div class="card-body text-left">
               There has been a lot of misunderstanding regarding the permissibility of kafala under islamic jurisprudence.
               Kafala while following rules of Islam isn’t just allowed but encouraged and is seen not only as a meritorious deed, 
               but also as a religious duty.<br/>
               There are many Fatwas encouraging families for Kafala. Please refer to our brochure “Kafala in Islam” if you would like to know more.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Does adoption really exist in Egypt?
            </div>
            <div class="card-body text-left">
               Yes, adoption does exist in Egypt, known as Kafala or the Alternative Families Program. It allows kafala parents to care for a child in their home as a member of their family. 
               It also permits the kafala parents or mother to name the child as per the family/or mother’s surname.
               The parents/mother are then fully responsible for the child financially and in terms of parenting and education.<br/>
               For information on how to apply and related conditions, please use the following link: <a href= "https://www.moss.gov.eg/ar-eg/Pages/sector-service-detail.aspx?sid=51">click here</a>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               What is the difference between the Western idea of adoption and kafala?
            </div>
            <div class="card-body text-left">
               Adoption is the formal, permanent transfer of parental rights to a family other than a child’s own and the formal assumption by that family of all parenting duties for the child.
               In some Islamic countries; including Egypt, the term ‘Kafala’ of Islamic law is used to describe a situation similar to adoption, but not necessarily with the transference of inheritance rights, or the change of the child’s full name.
               Despite Kafala being strongly encouraged in Islam there have been a misleading CULTURAL perception about its true meaning, practice, and significance. As a result, 
               our innocent children have been under institutionalized care of orphanages rather than being granted a warm family life and home.
               We created this page to restore back the authentic meaning of Kafala in Islam that was taught by our beloved prophet.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               What are the children's names when they were found?
            </div>
            <div class="card-body text-left">
               They have no names when they are found. At the police station they choose a random name for the child and fictional names for father.
               The Ministry of Health (MOH) then gives a random name for the mother.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Where are the children found? Is there a process to look for them? 
            </div>
            <div class="card-body text-left">
               Children/babies are usually found abandoned in public places; beside a mosque or a church, railway stations, on cars, and unfortunately some people abandon their children in rubbish bins or containers.<br/>
               After being found they are taken to the closest police station. The police issues a report proving where the child was found, and give him/her random names. 
               They are referred to a public hospital for a medical test, then a social worker from MOH takes the baby to the nearest governmental orphanage (which belongs to MOH or FACE). 
               When placed inside an orphanage the MOH issues a birth certificate.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Why are the children in orphanages? Who abandons their children? 
            </div>
            <div class="card-body text-left">
               Children are in the orphanages for no fault of their own, mostly because they were abandoned by the people who were supposed to care for them. 
               Most children in Egypt are abandoned because they have been born out of wedlock (which is a heavily condemned act in Egyptian society).
               Some other reasons are economic as some families struggle and live in poverty and can’t cope. Some families abandon their children because of disability or other special needs. 
               So families sometimes see orphanages as a way in which they can improve the chances for their children, and this is fed by a perception that their child will be better off.<br/><br/>
               Once a child is abandoned, he/she is incorporated into the state system for the care of children deprived of parental care. 
               Children under two years are sent to centers that belong to the MOH, while children over 2 years are sent to centers that belong to the MOSS.<br/>
               There are many studies that show how children in institutional care lack emotionally and developmentally in comparison with children in families. A loving family is all that any child needs and you don’t need to be perfect to be a perfect parent for one of them.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               How many orphans are there in Egypt?
            </div>
            <div class="card-body text-left">
               The latest official number of orphans registered inside orphanages is 12,500. All these children are waiting for a chance to grow up in a stable home with a loving family.
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
</div>