<h1 class="text-center mt-4">Kafala Stories</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to "Baby Mostafa's Story", '/Shaymaa_Story' %>
            </div>
            <div class="card-body">
               <%= image_tag("st1_cut.jpg")%><br/><br/>
               I don’t know where to start... My story with adoption or Islamic Kafala began six years ago
               when my husband, Mohamed, and I adopted our<a href='/Shaymaa_Story'>...read more</a>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
<div class="row justify-content-md-center">
   <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
         <div class="card-header font-italic">
            <%=link_to "Mommy Yasmina's Story", '/Yasmin_Story' %>
         </div>
         <div class="card-body">
            <%= image_tag("st2_cut.jpg")%><br/><br/>
            I think my story all started 25 years ago... when I was in high school and our math teacher started the charity 
            committee and took us to visit an orphanage<a href='/Yasmin_Story'>...read more</a>
         </div>
         <div class="card-footer text-muted">
            Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
            to include the story in this website
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to "Mommy Marwa's Story", '/Marwa_Story' %>
            </div>
            <div class="card-body">
               <%= image_tag("st3_cut.jpg")%><br/><br/>
               I want to tell you my story. My name is Marwa and I’m seven-months old. Yeah, don’t be surprised that I was 
               born only seven months ago. That other number<a href='/Marwa_Story'>...read more</a>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to "Fatma's Mom", '/Fatma_Story' %>
            </div>
            <div class="card-body">
               <%= image_tag("st4_cut.jpg")%><br/><br/>
               Today, I am going to share a story with you. Something that changed my life. My dream, that finally came true. 
               I know we all have dreams<a href='/Fatma_Story'>...read more</a>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to "Baby Hamza's Story", '/Hamza_Story' %>
            </div>
            <div class="card-body">
               <%= image_tag("st5_cut.jpg")%><br/><br/>
               I’ll start my story from when I got married and found out my husband and me couldn’t conceive. 
               People made unnecessary comments, gave us sad looks<a href='/Hamza_Story'>...read more</a>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to "Sara's Story", '/Sara_Story' %>
            </div>
            <div class="card-body">
               <%= image_tag("st6_cut.jpg")%><br/><br/>
               I really can’t remember my age the moment I found out, maybe first or second grade. It was the moment 
               my adoptive family bombarded me with the<a href='/Sara_Story'>...read more</a>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>