<div class="container">
   <% @posts.each do |post|%>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               by <%post.orphanage.name%> <br/>
            </div>
            <div class="card-body">
               <h5 class="card-title"><%= link_to post.title, post_path(post), class: "text-success" %></h5>
               <h6>Category: <%=post.category%>.  Status: <%= p post.fulfilled ? "Closed." : "Open." %></h6>
               <p class="card-text"><%= truncate(post.body, length: 100) %></p>
               <%= link_to "View", post_path(post), class: "btn btn-outline-success" %>
               <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-info" %>
               <%= link_to "Delete", post_path(post), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
            <div class="card-footer text-muted">
               <small>Created <%= time_ago_in_words(post.created_at) %> ago, 
               edited <%= time_ago_in_words(post.updated_at) %> ago</small>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>