<%= form_with scope: :post, url: posts_path, local: true do |f| %>
    <p>
        <%= f.label :title%> <br/>
        <%= f.text_field :title%>
    </p>

    <p>
        <%= f.label :category%> <br/>
        <%= f.select(:category, CATEGORIES, {include_blank: "Select Category"}, {class: 'form-control', required: true, selected: @set}) %>
    </p>

    <p>
        <%= f.label :fulfilled%> <br/>
        <%= f.select(:fulfilled, ['No','Yes'], {include_blank: "Select State"}, {class: 'form-control', required: true, selected: @set}) %>
    </p>

    <p>
        <%= f.label :body%>  <br/>
        <%= f.text_area :body%>
    </p>

    <p>
        <%= f.submit %>
    </p>

<%end%>