<h1 class="text-center mt-4">Case number <%=@case.id%></h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Reported by  <%=link_to @case.volunteer.first_name+" "+@case.volunteer.last_name, volunteer_path(@case.volunteer)%>
            </div>
            <div class="card-body">
               <div class="card-text text-left">Case State: <%= p @case.case_resolved ? "Resolved." : "Open." %></div>
               <br/>
               <%if @case.case_resolved%>
                <%o = Orphanage.find(@case.orphanage_id)%>
                <div class="card-text text-left">Case accepted by: <%=link_to o.name, orphanage_path(o) %></div>
                <br/>
               <%end%>
               <div class="card-text text-left">Child name: <%= @case.name == "" ? "Non provided" : @case.name %></div>
               <br/>
               <div class="card-text text-left">Street Address: <%= @case.street_address %></div>
               <br/>
               <div class="card-text text-left">Governorate: <%= @case.governorate%></div>
               <br/>
               <div class="card-text text-left">Approximate age: <%= @case.approximate_age%></div>
               <br/>
               <div class="card-text text-left">Health State: <%= @case.health_state%></div>
               <br/>
               <div class="card-text text-left">Description: <%= @case.description%></div>
               <br/>
               <%if @case.note != ""%>
               <div class="card-text text-left">Notes: <%=@case.note%></div>
               <%end%>
            </div>
            <div class="card-footer text-muted">
               <small>Created <%= time_ago_in_words(@case.created_at) %> ago, 
               edited <%= time_ago_in_words(@case.updated_at) %> ago</small>
            </div>
         </div>
      </div>
   </div>
</div>