<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <%= link_to "CODE Challenge", root_path, class: "navbar-brand", id: "logo"%>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <%= link_to "Orphanages", orphanages_path, class: "nav-link"%>
         </li>
         <%if logged_in? == false%>
         <%=link_to "Sign up as orphanage", orphanages_signup_path, class: "nav-link"%>
         <%=link_to "Register as a volunteer", volunteers_signup_path, class: "nav-link"%>
         <%end%>
         <%if logged_in? && current_user.class.name == "Orphanage"%>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%if logged_in? && current_user.class.name == "Orphanage" && current_user.verified%>
               <%=link_to "Create new post", new_post_path, class: "dropdown-item"%>
               <%end%>
               <%=link_to "View posts", posts_path, class: "dropdown-item"%>
            </div>
         </li>
         <%else%>
         <%=link_to "View posts", posts_path, class: "nav-link"%>
         <%end%>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kafala Section
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%=link_to 'What is Kafala?', '/what_is_Kafala', class: "dropdown-item"%>
               <%= link_to 'Kafala Stories', '/Kafala_Stories', class: "dropdown-item"%>
               <%= link_to 'Eligibility Criteria', '/eligibility_criteria', class: "dropdown-item"%>
               <%= link_to 'Procedures and documents required', '/procedures_documents_required', class: "dropdown-item"%>
               <%= link_to 'Popular Questions regarding Kafala', '/faqs', class: "dropdown-item"%>
            </div>
         </li>
         <%if logged_in?%>
         <li class="nav-item dropdown">
            <%if current_user.class.name == "Orphanage" && current_user.verified%>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile [<%=current_user.name%>]
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%=link_to "View the orphanage profile", orphanage_path(current_user), class: "dropdown-item"%>
               <%=link_to "Edit the orphanage profile", edit_orphanage_path(current_user), class: "dropdown-item"%>
               <%=link_to "Delete the orphanage profile", orphanage_path(current_user), class: "dropdown-item text-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Appointments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%=link_to "View your volunteers", view_current_volunteers_path, class: "dropdown-item"%>
               <%=link_to "View pending appointments", view_pending_appointments_path, class: "dropdown-item"%>
               <%=link_to "View approved appointments", view_approved_appointments_path, class: "dropdown-item" %>
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage Reported Cases 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%if current_user.accepts_new_cases%>
               <%=link_to "View pending cases", view_pending_cases_path, class: "dropdown-item"%>
               <%end%>
               <%=link_to "View accepted cases", accepted_cases_path, class: "dropdown-item"%>
               <%=link_to "View resolved cases", resolved_cases_path, class: "dropdown-item"%>
            </div>
         </li>
         <% elsif current_user.class.name == "Volunteer" %>
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Profile [<%=current_user.first_name%>]
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%=link_to "View your profile", volunteer_path(current_user), class: "dropdown-item"%>
            <%=link_to "Edit your profile", edit_volunteer_path(current_user), class: "dropdown-item"%>
            <%=link_to "Delete your profile", volunteer_path(current_user), class: "dropdown-item text-danger", method: :delete, data: {confirm: "Are you sure?"} %>
         </div>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Appointments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%=link_to "Schedule an appointment", schedule_time_path, class: "dropdown-item"%>
               <%=link_to "View your volunteering locations", view_volunteering_activity_path, class: "dropdown-item"%>
               <%=link_to "View approved appointments", view_approved_appointments_path, class: "dropdown-item" %>
            </div>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Report found child 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%=link_to "Report a case", '/report-new-case', class: "dropdown-item"%>
               <%=link_to "View your reported cases", view_reported_cases_path, class: "dropdown-item"%>
            </div>
         </li>
         </li>
         <%end%>
         <li class="nav-item">
            <%= link_to 'Log out', logout_path, class: "nav-link", method: :delete %>
         </li>
         <%else%>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%=link_to 'Log in as orphanage', orphanages_login_path, class: "dropdown-item"%>
               <%= link_to 'Log in as volunteer', volunteers_login_path, class: "dropdown-item"%>
            </div>
         </li>
         <%end%>
      </ul>
   </div>
</nav>